@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./layout/header.scss";
@import "./variables";

* {
  transition: 0.1s;
}

body {
  @apply bg-light-fill text-black dark:bg-dark-fill dark:text-white;
}

main {
  margin-top: 50px;
  width: calc(100% - 60px);
  margin-inline: auto;
}

footer {
  width: calc(100% - 60px);
  margin-inline: auto;
}
